header{
	font-style: ancient greek, times new roman;
	font-size: 20px;
	text-align: center;
	padding-top: 25px;
	padding-bottom: 25px;
	margin: 0;
	background-color: #CA6F1E;
}

body{
	margin: 0;
	background-color: #F0B27A;
}

nav{
	background-color: #873600;
	color: white;
	padding: 0.15rem;
	margin: 0;
}
nav li{
	display: inline;
	margin-right: 0.5rem;
}
main{
	max-width: 800px;
}